/* Estilos específicos para el Card de Explorar */

:root {
    --text-color:black;
}
.explorarCard {
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02);
  background: #ffffff;
  transition: all 0.3s ease;
}

.explorarCard:hover {
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(41, 47, 111, .6);
  transform: translateY(-14px);
}

/* Estructura interna del card de proyecto */
.projectCard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.projectInfo {
  flex: 1;
}

.projectTitle {
  font-size: 1.5rem;
  font-weight: bolder;
  color:var(--text-color);
}

.projectSubtitle {
  font-size: 1.2rem;
  font-weight: 600;
  color:var(--text-color);
  margin-top: 4px;
}

/* Contenedores de tags */
.tagContainer {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

.techTagContainer {
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
}

/* Botones de acción */
.actionButtons {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}
